* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(63, 67, 77, 0.29);

}


#border {
    width: 89%;
    margin: 0 auto;
    border-bottom: solid rgba(63, 67, 77, 0.31) 2px;
    margin-top: 50px;
}

/*** MENU ***/

#menu a {
    text-decoration: none;
    color: #fffdf6;
    display: block;
    vertical-align: middle;
    font-size: 1em;
    font-family: 'raleway', sans-serif;
    padding-bottom: 20px;
}

#menu a:hover {
    color: #efc020;
}

#menuToggle {
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
    z-index: 1;
    -webkit-user-select: none;
    background-color: #3f434d;
    opacity: 0.9;
    border-radius: 50%;
}

#menuToggle input {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-left: 8px;
    margin-bottom: 5px;
    position: relative;
    background: #fffdf6;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.first {
    margin-top: 14px;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #282f43;
}


#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu {
    position: fixed;
    width: 300px;
    height: 694px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #3f434d;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}


#menuToggle input:checked ~ #menu {
    transform: none;
}

footer {
    text-align: center;
    margin-top: 30px;
    background-color: rgba(133, 150, 165, 0.5);
}

footer img {
    padding: 20px;
    opacity: 0.8;
}

#samarbejdspartnere img {
    width: 100%;
    margin-top: 20px;
    opacity: 0.8;
}

footer #some img {
    width: 25%;
    text-decoration: none;
}

footer h1 {
    font-size: 1.6em;

}

#navbar2 {
    position: relative;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #3f434d;
    margin: 6px 0;
    transition: 0.5s;
}

.up {
    display: none;
}

.background-wrap {
    display: none;
}

#splash {
    z-index: 1;
    position: relative;
}

.navbar1 {
    display: none;
}

.navbarb {
    display: none;
}

.nav1 {
    display: none;
}

.navbarforside {
    display: none;
}

p,
ul {
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    line-height: 6.3vw;
    margin-bottom: 0;

}

h1 {
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 0px;
    color: rgba(63, 67, 77, 0.99);


}



#lillemenu2 {
    display: none;
}


/********SOME************/

.some_splash .instagram,
.some_splash .facebook {
    width: 10.2vw;
    height: auto;
}

.some_splash .instagram {
    position: absolute;
    right: 12vw;
    bottom: 10px;
    color: white;
}

.some_splash .facebook {
    position: absolute;
    bottom: 10px;
    right: 26vw;
}



/****** PRODUKTER****************/

#produkter {
    padding: 0px;
}

#produkter img {
    width: 100%;
}

#produkterne {
    margin-bottom: 24px;
}

.container {
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.image {
    opacity: 1;
    display: inline-block;
    width: 33.3%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.6;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #efc020;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 15px;
    font-family: 'raleway', sans-serif;
    font-size: 1em;
}

/*********SNEDKER***************/

#snedker img {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.topimg img {
    margin-top: 20px;
}


#lillemenu {
    display: none;
}

#kollektion {
    padding-top: 10px;
}

#kollektion2 {
    padding-top: 10px;
}

#kollektion3 {
    padding-top: 10px;
}

#snedker #banner {
    margin-top: 0px;
}

/**************BADeVÆRELSE*********/

#badevarlse img {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;

}

#badevarlse #banner {
    margin-top: 0px;
}

#badgrid {
    padding: 30px;
}

/******* plankeborde************/

#planke img {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;

}


/******DIN SNEDKER**********/

#dinsnedker img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.banner #banner {
    width: 100%;
}

.dinsnedker1 .snedkerimg {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;


}

/****KØB HOS**************/

#kob img {
    width: 100%;
    display: block;
    margin: 0 auto;
}


.proces {
    width: 100%;
}

.proces iframe {
    display: block;
    margin: 0 auto;
    height: 58.2vw;
    width: 100%;

}

#kobhosslut img {
    width: 100%;
    margin-bottom: 60px;
}

#timelinecontainer {
    position: relative;
    padding: 0;
}

#timelinecontainer img {
    display: none;
}

#timeline {
    position: relative;
    padding: 10px;
    padding: 0;
    margin: 0 auto;
}

#cirkel1 {
    transform: scale(0.02);
    position: absolute;
    top: 606px;
    left: -31.5vw;
    z-index: 5;
    transition: 0.5s ease;
}

#cirkel1:hover {
    transform: scale(0.03);
    cursor: pointer;

}

#cirkel2 {
    transform: scale(0.02);
    position: absolute;
    top: 606px;
    left: -16.5vw;
    z-index: 5;
    transition: 0.5s ease;
}

#cirkel2:hover {
    transform: scale(0.03);
    cursor: pointer;

}

#cirkel3 {
    transform: scale(0.02);
    position: absolute;
    margin: 0 auto;
    top: 606px;
    left: -2vw;
    z-index: 5;
    transition: 0.5s ease;
}

#cirkel3:hover {
    transform: scale(0.03);
    cursor: pointer;

}

#cirkel4 {
    transform: scale(0.02);
    position: absolute;
    top: 606px;
    left: 13vw;
    z-index: 5;
    transition: 0.5s ease;
}

#cirkel4:hover {
    transform: scale(0.03);
    cursor: pointer;

}

#cirkel5 {
    transform: scale(0.02);
    position: absolute;
    margin: 0 auto;
    top: 606px;
    left: 27vw;
    z-index: 5;
    transition: 0.5s ease;
}

#cirkel5:hover {
    transform: scale(0.03);
    cursor: pointer;
}

#cirkel6 {
    transform: scale(0.02);
    position: absolute;
    top: 606px;
    left: 41vw;
    z-index: 5;
    transition: 0.5s ease;
}

#cirkel6:hover {
    transform: scale(0.03);
    cursor: pointer;

}

/*****OM OS**************/

#omos img {
    width: 100%;
}

#omos .madogjonas {
    margin-top: 20px;
}

#medarbejder img {
    margin-top: 50px;
}

#virksomhed iframe {
    display: block;
    margin: 0 auto;
    height: 58.2vw;
    width: 100%;

}

#virksomhed {
    margin-top: 20px;
    margin-bottom: 60px;
}

/******* KONTAKT***********/

#kontaktinfo p {
    margin-top: 0px;
}

#kontaktinfo img {
    width: 100%;
    margin-bottom: 30px;


}

#kontaktinfo #kontaktimg {
    width: 10%;
    display: block;
    margin: 0 auto;
}

#kontaktinfo #kontaktimg2 {
    width: 10%;
    display: block;
    margin: 0 auto;
}

#map {

    width: 80vw;
    height: 80vw;
    background: brown;
    display: block;
    margin: 0 auto;

}

#design {
    margin-bottom: 50px;
}

ul {
    margin-left: 30px;
    margin-right: 30px;
}

/* MEDIAQUERIES START */

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    #banner {
        padding-top: 73px;
    }
    .dropbtn {
        display: none;
    }
    .up img {
        width: 70%;
        margin: 10px;
        margin-right: 60px;
    }

    .up {

        position: fixed;
        right: 3px;
        bottom: -25px;
        height: 90px;
        width: 50px;
        display: block;
    }

    .up:hover {
        cursor: pointer;
    }

    .some_splash .instagram,
    .some_splash .facebook {
        width: 3.2vw;
        height: auto;
    }


    .some_splash .instagram {
        position: absolute;
        left: 2vw;
        top: 100px;
    }

    .some_splash .facebook {
        position: absolute;
        top: 100px;
        left: 6vw;
    }

    #toplogo {
        width: 4.5%;
        position: absolute;
        left: 15px;
        top: 5px;
        opacity: 0.8;
    }

    #toplogo2 {
        width: 4.5%;
        position: absolute;
        left: 15px;
        top: 5px;
    }
    #toplogoa:hover {
        background-color: rgba(145, 109, 39, 0);
    }

    #scharlinglogo {
        width: 15%;
    }

    #splash {
        display: none;
    }

    .navbar1 {
        position: fixed;
        width: 100%;
        display: list-item;
        font-size: 1em;
        text-align: right;
        padding: 25px;
        background-color: #fffdf6;
        box-sizing: border-box;
        z-index: 10;
    }
    .navbar1 a {
        text-decoration: none;
        color: #3f434d;
        font-family: 'Raleway', sans-serif;
        padding: 19px;
        border-right: solid 1.2px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .navbar1 a:hover {
        cursor: pointer;
        color: #efc020;
    }
    video {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    .background-wrap {
        display: block;
    }
    .background-wrap {
        height: 80%;
        z-index: 1;
    }
    /*********************BRØDTEKST***********/
    h1 {
        font-family: 'Tajawal', sans-serif;
        font-size: 2.5em;
        text-align: center;
    }
    p,
    ul {
        line-height: 2vw;
        margin-bottom: 0;

    }

    img {
        width: 80%;
    }


    .navbar #toplogo {
        display: none;
    }
    /*******FORSIDE*************/
    .navbarforside {
        position: fixed;
        width: 100%;
        display: list-item;
        font-size: 1em;
        text-align: right;
        padding: 27px;
        background-color: rgba(255, 255, 255, 0.47);
        box-sizing: border-box;
        z-index: 10;

    }
    .navbarforside a {
        text-decoration: none;
        color: #fffdf6;
        font-family: 'Raleway', sans-serif;
        padding: 19px;
        border-right: solid 1.2px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .navbarforside a:hover {
        cursor: pointer;
        color: #efc020;
    }



    .produkter-dropbtn {
        background-color: rgba(255, 255, 255, 0);
        font-family: 'raleway', sans-serif;
        font-size: 1em;
        border: none;
        cursor: pointer;
        text-decoration: none;
        color: #3f434d;
        padding: 19px;
        border-right: solid 1.2px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .produkter-dropbtn:hover {
        color: #efc020;
    }

    .produkter-dropdown {
        position: relative;
        display: inline-block;
    }

    .produkter-dropdown-content {
        display: none;
        position: absolute;
        min-width: 190px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: none;
        overflow: auto;
        right: 0;
        z-index: 10;
        background-color: #fffdf6;


    }

    .produkter-dropdown-content a {
        color: black;
        font-family: 'Raleway', sans-serif;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border: none;
    }

    .produkter-dropdown-content a:hover {}

    .produkter-dropdown:hover .produkter-dropdown-content {
        display: block;
    }



    #produkterknap {
        padding: 0px;
    }


    /*******PRODUKTER***********/
    #produkter {
        padding: 0.1px;
    }
    #produkterne {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    #produkter h1 {
        margin-top: 7vw;
        margin-bottom: 1vw;
    }

    #produkter {
        width: 88.2%;
        display: block;
        margin: 0 auto;

    }

    #produkter img {
        width: 100%;
        z-index: 9;

    }
    #produkter img:hover {
        cursor: pointer;
        color: #efc020;

    }


    /******SNEDKERKØKKEN*************/
    #snedker #banner {
        width: 100%;
    }

    #snedker img {
        width: 87%;
        margin-top: 0px;

    }
    #snedker .com {
        margin-top: 31px;
    }
    #snedker p {
        margin-right: 30px;
        margin-left: 30px;
    }

    #lillemenu {
        display: block;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        padding: 10px;
        background-color: #3f434d;
        margin: 20px;
        margin-left: 5.6vw;
        margin-right: 6vw;
    }

    #lillemenu a {
        text-decoration: none;
        color: #fffdf6;
        padding: 15px;

    }
    #lillemenu a:hover {
        cursor: pointer;
        color: #ded9d9;
    }


    #snedkerflex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-left: 30px;
        margin-right: 30px;
    }

    #nytkokken #imgkok {
        width: 76%;
    }


    .nykokken {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px
    }

    .nykokken #imgkok {
        width: 87%;
        margin-top: 32px;
    }

    .nykokken .nytkokkenp {
        margin-right: 35px;
    }

    #kokkenflex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #kokkenflex img {
        width: 100%;
        margin-bottom: 30px;
    }
    /*****BADeVÆRELSE********/
    #badevarlse img {
        width: 85%;
        margin-top: 0px;

    }
    #badevarlse #banner {
        width: 100%;
    }
    #badevarlse p {
        margin-left: 30px;
        margin-right: 30px;
    }


    #badgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

    }

    #badgrid img {
        margin-top: 20px;
    }


    /********PLANKEBORD***********/
    .banner #banner {
        width: 100%;
    }
    #planke img {
        width: 80%;
        margin-top: 0px;
    }
    #plankegrid .plankeintro {
        width: 85%;
    }

    #planke,
    #plankegrid p {
        margin-left: 30px;
        margin-right: 30px;
    }


    #plankegrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    #plankegrid .plankeintro,
    #plankegrid .plankeimg,
    #plankegrid .plankeimg2,
    #plankegrid .plankeimg3 {
        margin-top: 31px;
    }

    #plankegrid .plankeimg3 {
        width: 87%;
    }

    #plankegrid .plankeimg2 {
        width: 85%;
    }
    #plankegrid img {
        width: 87%;
    }




    /******** DIN SNEDKER*****/
    #dinsnedker img {
        width: 100%;
        margin-top: 0px;

    }
    .snedker img {
        width: 100%;
    }
    .banner #banner {
        width: 100%;
    }


    #dinsnedker,
    #dinsnedker p {
        margin-left: 30px;
        margin-right: 30px;

    }

    #dinsnedkergrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }


    /********KØB HOS SCHARLING ****/
    #kob #banner {
        width: 100%;
    }

    #kob img {
        width: 90%;
    }

    #kob #leveringimg {
        width: 80%;
    }
    .proces iframe {
        display: block;
        margin: 0 auto;
        width: 94.5%;
        height: 25.5vw;
        width: 86%;

    }
    .proces iframe {
        border: 0;
    }


    #kobgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 30px;
        margin-right: 30px;
    }
    #kobgrid p {

        margin-left: 30px;
        margin-right: 30px;
    }

    #levering p {
        margin-left: 34px;
    }
    #kobgrid .omhandvark {
        margin-top: 33px;
        width: 87%;
    }
    #kobhosslut img {
        width: 100%;
        margin-top: 30px;
    }
    #kobgrid .vedligholdelse {
        margin-top: 31px;
        width: 86%;

    }
    #kobhosslut .citat p {
        margin-left: 1vw;
        margin-right: 1vw;
        font-family: 'Josefin Slab', serif;
        font-size: 1.3em;

    }

    #timelinecontainer img {
        display: block;
    }

    /*********** OM OS ***********/
    #omos #banner {
        width: 100%;
    }
    .omosgrid {
        margin-left: 30px;
        margin-right: 30px;
    }
    #omos img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .omosgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #omos .madogjonas {
        width: 100%;
    }

    #medarbejder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
    }
    #medarbejder {
        margin-left: 30px;
        margin-right: 30px;
    }
    #medarbejder img {
        width: 85%;
        display: block;
        margin: 0 auto;

    }

    #omos p {
        margin-right: 30px;
        margin-left: 30px;
    }

    #virksomhed iframe {
        display: block;
        margin: 0 auto;
        width: 40%;
        height: 22.5vw;

    }
    /******KONTAKT*********/
    #kontaktinfo #banner {
        width: 100%;

    }


    #kontaktinformationer {
        display: flex;

    }
    #introkontakt {
        margin-left: 60px;
        margin-right: 30px;
    }
    #varksted p,
    #varksted {
        margin-left: 30px;
        margin-right: 30px;
    }
    #koninf {
        flex-grow: 1;
        width: 10%;
    }

    #koninf2 {
        flex-grow: 1;
        width: 10%;
    }

    #informationer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;

    }
    #adresse {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #map {
        width: 43vw;
        height: 33vw;
        margin-top: 120px;
        margin-left: 20px;

    }
    #varksted {
        flex-grow: 1;
    }

    #kontaktdesign {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #design img {
        width: 79%;
        display: block;
        margin: 0 auto;
    }

    /******FOOOOTER********/
    footer {
        text-align: center;
        background-color: rgba(133, 150, 165, 0.5);
    }
    footer img {
        padding: 20px;
    }

    #samarbejdspartnere img {
        width: 50%;
        margin-top: 20px;
    }

    footer #some img {
        width: 20%;
        text-decoration: none;
        margin-top: 30px;
    }
    #footerinfo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    /*****SOMECONTENT********/
    #facebook {
        max-width: 10%;
        padding: 10px;
    }

    #instagram {
        max-width: 10%;
        padding: 10px;
    }


    #splash {
        display: none;
    }


    #timelinecontainer .cirkel1 {
        width: 1.3%;
        position: absolute;
        top: 1175px;
        left: 150px;
        transition: all 0.2s ease;

    }
    #timelinecontainer .cirkel1:hover {
        transform: scale(1.4);
    }

    #timelinecontainer .cirkel2 {
        width: 1.3%;
        position: absolute;
        top: 1175px;
        left: 350px;
        transition: all 0.2s ease;

    }
    #timelinecontainer .cirkel2:hover {
        transform: scale(1.4);
    }


    #timelinecontainer .cirkel3 {
        width: 1.3%;
        position: absolute;
        top: 1175px;
        left: 540px;
        transition: all 0.2s ease;
    }
    #timelinecontainer .cirkel3:hover {
        transform: scale(1.4);
    }



    #timelinecontainer .cirkel4 {
        width: 1.3%;
        position: absolute;
        top: 1175px;
        left: 730px;
        transition: all 0.2s ease;

    }
    #timelinecontainer .cirkel4:hover {
        transform: scale(1.4);
    }


    #timelinecontainer .cirkel5 {
        width: 1.3%;
        position: absolute;
        top: 1175px;
        left: 910px;
        transition: all 0.2s ease;

    }
    #timelinecontainer .cirkel5:hover {
        transform: scale(1.4);
    }


    #timelinecontainer .cirkel6 {
        width: 1.3%;
        position: absolute;
        top: 1175px;
        left: 1100px;
        transition: all 0.2s ease;

    }
    #timelinecontainer .cirkel6:hover {
        transform: scale(1.4);
    }

}

/******OPENMODAL*********/

.modalDialog {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 40px;
    left: 30px;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog2 {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 20px;
    right: 0px;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog2:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;

}

.modalDialog2 > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;

}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}



/* MEDIAQUERIES SLUT */
