* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(63, 67, 77, 0.29);

}

footer {
    text-align: center;
    margin-top: 30px;
    background-color: rgba(133, 150, 165, 0.5);
}

footer img {
    padding: 20px;
    opacity: 0.8;
}

#samarbejdspartnere img {
    width: 100%;
    margin-top: 20px;
    opacity: 0.8;
}

footer #some img {
    width: 25%;
    text-decoration: none;
}

footer h1 {
    font-size: 1.6em;

}


.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #5c6671;
    margin: 6px 0;
    transition: 0.5s;
}

.up {
    visibility: hidden;
}

.navbar1 {
    display: none;
}

.navbarb {
    display: none;
}

.nav1 {
    display: none;
}

.navbarforside {
    display: none;
}

#scharlinglogo {
    width: 15%;
    padding: 10px;
}

.change .bar1 {
    transform: rotate(-45deg)translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg)translate(-8px, -8px);
}

.dropbtn {
    background-color: white;
    /*color: white;*/
    padding: 7px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: seashell;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px #3d3d3d;
    right: 0;
    z-index: 300;
}

.dropdown-content a {
    background-color: white;
    display: block;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 2);
}

.dropdown a:hover {
    /*    background-color: rgba(255, 255, 255, 0.50);*/
    background-color: seashell;
}

.show {
    display: block;
}

#border {
    width: 100%;
    height: 50px;
    border-bottom: solid rgba(128, 128, 128, 0.42) 2px;
}

#border2 {
    width: 100%;
    height: 50px;
    border-bottom: solid rgba(128, 128, 128, 0.42) 2px;
}

#border3 {
    width: 100%;
    height: 50px;
    border-bottom: solid rgba(128, 128, 128, 0.42) 2px;
}

p,
ul {
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    line-height: 6.3vw;
    margin-bottom: 0;

}

h1 {
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 0px;
    color: rgba(63, 67, 77, 0.99);


}

#lillemenu2 {
    visibility: hidden;
}

/**********************************FORSIDE*******************/

#facebook {
    max-width: 10%;
    padding: 10px;
}

#instagram {
    max-width: 10%;
    padding: 10px;
}

#kontakt {
    max-width: 10%;
    padding: 10px;
}

/****** PRODUKTER****************/

#produkter {
    padding: 10px;
}

#produkter img {
    width: 100%;
}


.container {
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.image {
    opacity: 1;
    display: inline-block;
    width: 33.3%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.6;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #efc020;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 15px;
    font-family: 'raleway', sans-serif;
    font-size: 1em;
}

/*********SNEDKER***************/

#snedker img {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.topimg img {
    margin-top: 20px;
}


#lillemenu {
    visibility: hidden;
}

#kollektion {
    padding-top: 10px;
}

#kollektion2 {
    padding-top: 10px;
}

#kollektion3 {
    padding-top: 10px;
}


/**************BADeVÆRELSE*********/

#badevarlse img {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;

}



#badgrid {
    padding: 30px;
}

/******* plankeborde************/

#planke img {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;

}


/******DIN SNEDKER**********/

#dinsnedker img {
    width: 100%;
    display: block;
    margin: 0 auto;
}




/****KØB HOS**************/

#kob img {
    width: 100%;
    display: block;
    margin: 0 auto;
}


.proces {
    width: 100%;
}

.proces iframe {
    display: block;
    margin: 0 auto;
    height: 58.2vw;
    width: 100%;

}

/*****OM OS**************/

#omos img {
    width: 100%;
}

#medarbejder img {
    margin-top: 50px;
}

#virksomhed iframe {
    display: block;
    margin: 0 auto;
    height: 58.2vw;
    width: 100%;

}

/******* KONTAKT***********/

#kontaktinfo p {
    margin-top: 0px;
}

#kontaktinfo img {
    width: 100%;
    margin-bottom: 30px;


}

#kontaktinfo #kontaktimg {
    width: 10%;
    display: block;
    margin: 0 auto;
}

#kontaktinfo #kontaktimg2 {
    width: 10%;
    display: block;
    margin: 0 auto;
}

#map {

    width: 80vw;
    height: 80vw;
    background: brown;
    display: block;
    margin: 0 auto;

}

ul {
    padding: 30px;
}

/* MEDIAQUERIES START */

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    #banner {
        padding-top: 73px;
    }
    .dropbtn {
        display: none;
    }
    .up img {
        width: 70%;
        margin: 10px;
        margin-right: 60px;
    }
    #border {
        width: 80%;
        margin: 0 auto;
        border-bottom: solid rgba(128, 128, 128, 0.42) 2px;
    }

    #border2 {
        width: 80%;
        margin: 0 auto;
        border-bottom: solid rgba(128, 128, 128, 0.42) 2px;
    }
    .up {

        position: fixed;
        right: 3px;
        bottom: -25px;
        height: 90px;
        width: 50px;
        visibility: inherit;
    }

    .up:hover {
        cursor: pointer;
    }

    .some_splash .instagram,
    .some_splash .facebook,
    .some_splash .kontakt {
        width: 4.2vw;
        height: auto;
    }

    .some_splash .kontakt {
        position: absolute;
        bottom: 10px;
        right: 2vw;
        color: white;
    }
    .some_splash .instagram {
        position: absolute;
        right: 8vw;
        bottom: 10px;
        color: white;
    }

    .some_splash .facebook {
        position: absolute;
        bottom: 10px;
        right: 14vw;
        color: white;
    }

    #toplogo {
        width: 4.5%;
        position: absolute;
        left: 15px;
        top: 5px;
        opacity: 0.8;
    }

    #toplogo2 {
        width: 4.5%;
        position: absolute;
        left: 15px;
        top: 5px;
    }
    #toplogoa:hover {
        background-color: rgba(145, 109, 39, 0);
    }

    #scharlinglogo {
        width: 15%;
    }

    .navbar1 {
        position: fixed;
        width: 100%;
        display: list-item;
        font-size: 1em;
        text-align: right;
        padding: 25px;
        background-color: #fffdf6;
        box-sizing: border-box;
        z-index: 10;
    }
    .navbar1 a {
        text-decoration: none;
        color: #3f434d;
        font-family: 'Raleway', sans-serif;
        padding: 19px;
        border-right: solid 1.2px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .navbar1 a:hover {
        cursor: pointer;
        color: #efc020;
    }
    video {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    .background-wrap {
        height: 80%;
    }
    /*********************BRØDTEKST***********/
    h1 {
        font-family: 'Tajawal', sans-serif;
        font-size: 2.5em;
        text-align: center;
    }
    p,
    ul {
        line-height: 2vw;
        margin-bottom: 0;

    }

    img {
        width: 80%;
    }


    /*******FORSIDE*************/
    .navbarforside {
        background-color: rgba(255, 255, 255, 0.47);
        position: fixed;
        width: 100%;
        display: list-item;
        font-size: 1em;
        text-align: right;
        padding: 25px;
        box-sizing: border-box;
        z-index: 10;
    }
    .navbarforside a {
        text-decoration: none;
        color: #fffdf6;
        font-family: 'Raleway', sans-serif;
        padding: 19px;
        border-right: solid 1.2px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .navbarforside a:hover {
        cursor: pointer;
        color: #efc020;
    }



    .produkter-dropbtn {
        background-color: rgba(255, 255, 255, 0);
        font-family: 'raleway', sans-serif;
        font-size: 1em;
        border: none;
        cursor: pointer;
        text-decoration: none;
        color: #000000;
        padding: 19px;
        border-right: solid 1.2px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .produkter-dropbtn:hover {
        color: #efc020;
    }

    .produkter-dropdown {
        position: relative;
        display: inline-block;
    }

    .produkter-dropdown-content {
        display: none;
        position: absolute;
        min-width: 190px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: none;
        overflow: auto;
        right: 0;
        z-index: 10;
        background-color: #fffdf6;


    }

    .produkter-dropdown-content a {
        color: black;
        font-family: 'Raleway', sans-serif;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border: none;
    }

    .produkter-dropdown-content a:hover {}

    .produkter-dropdown:hover .produkter-dropdown-content {
        display: block;
    }



    #produkterknap {
        padding: 0px;
    }


    /*******PRODUKTER***********/
    #kobhosscharlinginfo {
        display: flex;
    }

    #kobhosscharlinginfo2 {
        display: flex;
    }
    #produkter h1 {
        margin-top: 8vw;
    }

    #backgrundimg {
        position: relative;
        background-image: url(img/Asset%202.png);
        background-repeat: no-repeat;

        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: auto;
    }
    #produkter {
        width: 55%;
        display: block;
        margin: 0 auto;

    }

    #produkter img {
        width: 100%;
        z-index: 9;

    }
    #produkter img:hover {
        cursor: pointer;
        color: #efc020;

    }


    /******SNEDKERKØKKEN*************/
    #snedker #banner {
        width: 100%;
    }

    #snedker img {
        width: 87%;
        margin-top: 0px;

    }
    #snedker .com {
        margin-top: 31px;
    }
    #snedker p {
        margin-right: 30px;
        margin-left: 30px;
    }

    #lillemenu {
        visibility: inherit;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        padding: 10px;
        background-color: #3f434d;
        margin: 20px;
        margin-left: 25vw;
        margin-right: 25vw;
    }

    #lillemenu a {
        text-decoration: none;
        color: #fffdf6;
        padding: 15px;

    }
    #lillemenu a:hover {
        cursor: pointer;
        color: #b9bbc3;
    }


    #snedkerflex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-left: 30px;
        margin-right: 30px;
    }


    #snedker .snedkerfleximg {
        width: 85%;
        margin-top: 90px;

    }

    .nykokken {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px
    }

    .nykokken #imgkok {
        width: 87%;
        margin-top: 32px;
    }

    .nykokken .nytkokkenp {
        margin-right: 35px;
    }

    #kokkenflex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #kokkenflex img {
        width: 100%;
        margin-bottom: 20px;



    }
    /*****BADeVÆRELSE********/
    #badevarlse img {
        width: 85%;
        margin-top: 0px;

    }
    #badevarlse #banner {
        width: 100%;
    }
    #badintro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #badintro img {
        margin-top: 50px;
    }
    #badintro p {
        margin-left: 30px;
    }


    #badvarelsegrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #badvarelsegrid img {
        margin-top: 55px;
    }

    #badvarelsegrid p {
        margin-right: 30px;
    }

    #badgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

    }

    #badgrid #badimg1 {
        width: 94%;
        margin-top: 30px;
    }
    .badmobel p {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }


    /********PLANKEBORD***********/
    #planke #banner {
        width: 100%;
    }
    #planke img {
        width: 80%;
        margin-top: 0px;

    }

    #plankeintro p {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    #plankeintro img {
        width: 68%;
    }
    #plankegrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    #plankegrid .plankeintro {
        margin-top: 30px;
    }
    #plankegrid img {
        width: 87%;
    }

    #plankegrid .plankeimg {
        margin-top: 30px;
    }

    #plankegrid .plankeimg3 {
        width: 87%;
        margin-top: 28px;
    }
    #plankegrid2 .plankeimg1 {
        margin-top: 31px;
    }
    #plankegrid p {
        margin-left: 30px;
        margin-right: 32px;

    }

    #plankegrid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    #plankegrid2 img {
        width: 87%;
    }

    #plankegrid2 .plankeimg {
        margin-top: 30px;
    }

    #plankegrid2 .plankeimg3 {
        width: 87%;
        margin-top: 28px;
    }
    #plankegrid2 p {
        margin-left: 30px;
        margin-right: 32px;

    }

    #plankegrid3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    #plankegrid3 img {
        width: 87%;
    }

    #plankegrid3 .plankeimg {
        margin-top: 30px;
    }

    #plankegrid3 .plankeimg3 {
        width: 87%;
        margin-top: 28px;
    }
    #plankegrid3 p {
        margin-left: 30px;
        margin-right: 32px;

    }
    /******** DIN SNEDKER*****/
    #dinsnedker img {
        width: 100%;
        margin-top: 0px;

    }
    #dinsnedker #banner {
        width: 100%;
    }
    #dinsnedker .snedkerimg {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #dinsnedker p {
        margin-left: 30px;
        margin-right: 30px;

    }

    #dinsnedkergrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    /********KØB HOS SCHARLING ****/
    #kob #banner {
        width: 100%;
    }

    #kob img {
        width: 90%;
    }



    #kob #leveringimg {
        width: 80%;
    }
    .proces iframe {
        display: block;
        margin: 0 auto;
        width: 94.5%;
        height: 25.5vw;

    }



    .proces iframe {
        border: 0;
    }


    #kobgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 30px;
        margin-right: 30px;
    }
    #kobgrid p {

        margin-left: 30px;
        margin-right: 30px;
    }

    #traeviarbejdermed {
        margin-left: 30px;
        margin-right: 30px;
    }

    #levering p {
        margin-left: 10px;
    }
    #kobgrid .omhandvark {
        margin-top: 33px;
        width: 87%;
    }
    #kobhosslut img {
        width: 100%;
        margin-top: 30px;
    }
    #kobgrid .vedligholdelse {
        margin-top: 31px;
        width: 95.3%;

    }
    #kobhosslut .citat p {
        margin-left: 1vw;
        margin-right: 1vw;
        font-family: 'Josefin Slab', serif;
        font-size: 1.3em;

    }


    #lillemenu2 {
        visibility: inherit;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        padding: 10px;
        background-color: #3f434d;
        margin: 20px;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    #lillemenu2 a {
        text-decoration: none;
        color: #fffdf6;
        padding: 15px;

    }
    #lillemenu2 a:hover {
        cursor: pointer;
        color: #b9bbc3;
    }
    /*********** OM OS ***********/
    #omos #banner {
        width: 100%;
    }
    .omosgrid p {
        margin-left: 30px;
        margin-right: 30px;
    }
    #omos img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .omosgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #omos .madogjonas {
        width: 100%;
    }


    #medarbejder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
    }
    #medarbejder p {
        margin-left: 30px;
        margin-right: 30px;
    }
    #medarbejder img {
        width: 100%;
        display: block;
        margin: 0 auto;

    }

    #omos p {
        margin-right: 30px;
        margin-left: 30px;
    }

    #virksomhed iframe {
        display: block;
        margin: 0 auto;
        width: 40%;
        height: 22.5vw;

    }
    /******KONTAKT*********/
    #kontaktinfo #banner {
        width: 100%;

    }


    #kontaktinformationer {
        display: flex;

    }

    #introkontakt {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    #varksted {
        margin-left: 30px;
        margin-right: 30px;
    }
    #koninf {
        flex-grow: 1;
        width: 10%;
    }

    #koninf2 {
        flex-grow: 1;
        width: 10%;
    }
    #adresse {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #map {
        width: 42vw;
        height: 35vw;
        margin-top: 100px;

    }
    #varksted {
        flex-grow: 1;
    }

    #kontaktdesign {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #design img {
        width: 89%;
        display: block;
        margin: 0 auto;
    }

    #design2 img {
        width: 89%;
        display: block;
        margin: 0 auto;
    }

    #kontaktdesign p {
        margin-left: 30px;
        margin-right: 30px;
    }


    /******FOOOOTER********/
    footer {
        text-align: center;
        background-color: rgba(133, 150, 165, 0.5);
    }
    footer img {
        padding: 20px;
    }

    #samarbejdspartnere img {
        width: 50%;
        margin-top: 20px;
    }

    footer #some img {
        width: 30%;
        text-decoration: none;
    }
    #footerinfo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);




    }
}



/* MEDIAQUERIES SLUT */
