body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #5c6671;
    margin: 6px 0;
    transition: 0.5s;
}

.up {
    display: none;
}

.navbar1 {
    display: none;
}

.navbarb {
    display: none;
}

.nav1 {
    display: none;
}

.change .bar1 {
    transform: rotate(-45deg)translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg)translate(-8px, -8px);
}

.dropbtn {
    background-color: white;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: seashell;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px #3d3d3d;
    right: 0;
    z-index: 300;
}

.dropdown-content a {
    background-color: white;
    display: block;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 2);
}

.dropdown a:hover {
    /*    background-color: rgba(255, 255, 255, 0.50);*/
    background-color: seashell;
}

.show {
    display: block;
}

p {
    padding: 10px;
}

h2 {
    text-align: center;
}

.produkter-dropbtn {
    background-color: rgba(255, 255, 255, 0.19);
    font-size: 1em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 19px;
    border-right: solid 1.2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: Montserrat;
}

.produkter-dropdown {
    position: relative;
    display: inline-block;
}

.produkter-dropbtn {
    background-color: rgba(255, 255, 255, 0.19);
    font-size: 1em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 19px;
    border-right: solid 1.2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: Montserrat;
}

.produkter-dropdown {
    position: relative;
    display: inline-block;
}

.produkter-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 110px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px #3d3d3d;
    right: 0;
    z-index: 300;
}

.produkter-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Montserrat;
}

.produkter-dropdown-content a:hover {
    background-color: #ddd
}

.produkter-dropdown:hover .produkter-dropdown-content {
    display: block;
}

.produkter--dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/**********************************FORSIDE*******************/

#facebook {
    max-width: 10%;
    padding: 10px;
}

#instagram {
    max-width: 10%;
    padding: 10px;
}

#kontakt {
    max-width: 10%;
    padding: 10px;
}

/****** PRODUKTER****************/

#produkter {
    padding: 10px;
}

#produkter img {
    width: 100%;
}


.container {
    position: relative;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.image {
    opacity: 1;
    display: inline-block;
    width: 33.3%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgba(25, 26, 25, 0.8);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/*********SNEDKER***************/

#snedker img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

#snedker {
    padding: 10px;
}

#lillemenu {
    display: none;
}

#kollektion {
    padding-top: 10px;
}


/**************BADeVÆRELSE*********/

#badevarlse img {
    width: 90%;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

#badevarlse {
    padding: 10px;
}



/******* plankeborde************/

#planke img {
    width: 90%;
    padding: 10px;
    display: block;
    margin: 0 auto;
}


#planke {
    padding: 10px;
}


/******DIN SNEDKER**********/

#dinsnedker img {
    width: 100%;
    display: block;
    margin: 0 auto;
}


#dinsnedker {
    padding: 10px;
}


/*==========BURGER MENU SLUT==========*/

/* MEDIAQUERIES START */

/* https://stackoverflow.com/questions/13637106/what-are-the-best-width-ranges-for-media-queries */

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {

    .dropbtn {
        display: none;
    }
    .up img {
        width: 70%;
        margin: 10px;
        margin-right: 60px;
    }

    .up {

        position: fixed;
        right: 20px;
        bottom: -25px;
        height: 90px;
        width: 50px;
    }

    .up:hover {
        cursor: pointer;
    }
    #some {
        display: grid;
        position: absolute;
        bottom: 10px;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 850px;
        grid-gap: 10px;
    }

    #some a {
        text-decoration: none;
    }
    #facebook {
        max-width: 18%;
    }

    #instagram {
        max-width: 20%;
    }

    #kontakt {
        max-width: 20%;
    }
    #toplogo {
        width: 4.5%;
        position: absolute;
        left: 15px;
        top: 5px;

    }
    #toplogoa:hover {
        background-color: rgba(145, 109, 39, 0);
    }

    .navbar1 {
        position: fixed;
        width: 100%;
        display: list-item;
        font-size: 1em;
        text-align: right;
        padding: 25px;
        background-color: rgba(27, 141, 235, 0.19);
        box-sizing: border-box;
        z-index: 10;
    }
    .navbar1 a {
        text-decoration: none;
        color: black;
        padding: 19px;
        border-right: solid 1.2px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .navbar1 a:hover {
        cursor: pointer;
        background-color: antiquewhite;
    }
    video {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    .background-wrap {
        height: 80%;
    }

    h2 {
        text-align: center;
        margin-top: 8vw;
        margin-bottom: 3vw;
    }

    img {
        width: 80%;
    }
    p {
        margin-left: 60px;
        margin-right: 60px;

    }
    /*******PRODUKTER***********/
    #kobhosscharlinginfo {
        display: flex;
    }

    #produkter {
        width: 55%;
        display: block;
        margin: 0 auto;

    }

    #produkter img {
        width: 100%;
        z-index: 9;

    }
    #produkter img:hover {
        cursor: pointer;
    }


    /******SNEDKER*************/
    #lillemenu {
        text-align: center;
        font-size: 1.4em;
        padding: 10px;
        background-color: aliceblue;
        margin: 20px;
        margin-left: 10vw;
        margin-right: 10vw;


    }
    #lillemenu a {
        text-decoration: none;
        color: black;
        padding: 15px;

    }
    #lillemenu a:hover {
        cursor: pointer;
        background-color: #184771;
    }



    /*****BADeVÆRELSE********/
    #badevarlse #badimg1 {
        width: 35%;
        display: block;
        margin: 0 auto;
        padding: 10px;
    }

    #badevarlse #badimg2 {
        width: 70%;
        display: block;
        margin: 0 auto;
        padding: 10px;
    }
    #badgrid {
        display: grid;
        bottom: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

    }

    #badevarlse h2 {
        margin-top:
    }


    /*******PLANKe*********/
    #planke img {
        display: block;
        margin: 0 auto;
    }


    /* MEDIAQUERIES SLUT */
